@import url('https://fonts.googleapis.com/css?family=Nunito:900');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');
@import 'mixin.scss';

// keyframe aniimations
@include keyframes(piechart) {
	from{
		transform: rotate(0deg);
	}
    to {
	transform: rotate(130deg);
    }
} 
 
// defining mixin
@mixin piechart {
  @include animate(piechart, 2s, 1, forwards);
}


*{
	margin: 0;
	padding: 0;
	border:0;
	font-family: 'Nunito', sans-serif;
  	
}
.highlight{
	color:#175dc7 !important;
}
.stroke-blue{
	-webkit-text-stroke:1px #1078b7;
	color:transparent;
}
.stroke-white{
	-webkit-text-stroke:1px #fff;
	color:#000;
}
.base-bg{
	background:#f5f5f5;
}
.index-1{
	display:block;
	z-index: 1;
}
.index-0{
	display:none;
	z-index: -1;
}
body{
	color:red;
	overflow:hidden;
	a{
		&:hover{
			text-decoration: none;
		}
	}
}
li{
  list-style: none;
}
// main div
.main{
	// header start
	.header-logo{
	  width: 100%!important;
	  position: fixed;
	  top: 0;
	  height: 40px;
	  display: grid;
	  grid-template-columns: 1fr 9fr 1fr;
	  z-index: 1000;
	  .i1{
		  grid-column: 2;
		}
		.nav-btn{
			display: none;
		}
		.header-logo-ul{
		  margin: 0;
		  li{
			  display: inline-block;
			  list-style: none;
			  // border-radius: 50%;
			  // background: #fff;
			  // height: 25px;
			  // width: 25px;
			}
			& a:hover{
			  color: #ccc;
			  text-decoration: none;
			}
			.logo{
			  line-height: 40px!important;
			  // padding: 4px;
			  // letter-spacing: 2px;
			  color: #666;
			  font:{
			  	size: 20px !important;
			  }
			}
		}
	}
	//header end
	// social media bar
	.m1{
	  grid-column: 1;
	  display: grid;
	  height: 100%;
	  grid-template-rows: repeat(9,2fr);
	  justify-items: center;
	  align-items: center;
	  position: fixed;
	  padding: 18px;
	  transition: 0.8s;
	  z-index: 1000;
	  width: 55px;
	  left: 0;
	  &:hover{
  	    width: 60px;
    	transition: 0.3s;
	  	a{
	  		font-size: 16px;
	  	}
	  }
	  	a{
		  color: #555;
		  font-size: 14px;
		  transition:0.1s;
		  &:hover,&:focus{
		  	color: #aaa;
				text-decoration: none;
		  }
		}
		.m-l1,.m-l2,.m-l3,.m-l4,.m-l5{
		  transform: rotate(270deg);
		}
		.m-l1{
		  grid-row: 7;
			grid-column:1;
			transition: 0.8s;
		}
		.m-l2{
		  grid-row: 5;
		  grid-column:1;
	      transition: 0.8s;
		}
		.m-l3{
		  grid-row: 6;
		  grid-column:1;
	      transition: 0.8s;
		}
		.m-l4{
		  grid-row: 4;
		  grid-column:1;
	      transition: 0.8s;
		}
		.m-l5{
			grid-row:3;
			grid-column:1;
		    transition: 0.8s;
		}
		.contactM{
			display: none;
		}
		.touch{
			@extend .contactM;

		}
	}
	.socialMax{
	    width: 100%;
	    grid-template-columns: repeat(9, 2fr);
	    &:hover{
		  	width: 100%;
		  	a{
		  		font-size: 34px;
		  	}
		  	.mail{
		  		font-size: inherit;
		  	}
		  }
	    .m-l1,.m-l2,.m-l3,.m-l4,.m-l5{
		  transform: rotate(0deg);
		}
		.m-l1{
		  grid-row: 5;
		  grid-column:3;
		}
		.m-l2{
		  grid-row: 5;
		  grid-column:4;
		}
		.m-l3{
		  grid-row: 5;
		  grid-column:5;
		}
		.m-l4{
		  grid-row: 5;
		  grid-column:6;
		}
		.m-l5{
			grid-row:5;
			grid-column:7;
		}
		.contactM{
			display: block;
			grid-row:7;
		    grid-column: 4/7;
			text-align: center;
			font-size: 14px;
		}
		.li-big-logo{
			display: inline-block;
		    height: 40px;
		    width: 40px;
		    text-align: center;
		    border-radius: 50%;
		    /* background: #fff0; */
		    border: 1px solid #222;
		    padding: 0px 4px;
		}
		.big-logo{
			// -webkit-text-stroke: 1px #fff;
		    color: #222;
		    letter-spacing: 5px;
		    line-height: 35px;
		}
		.fadeIn{
			animation-delay:0.4s;
			animation-duration: 1.5s;
		}
		.touch{
			display: block;
			grid-row:2;
			grid-column:4/7;
			text-align: center;

		}
		a{
		  color: #333;
		  font-size: 34px;
		  transition:0.1s;
		  &:hover,&:focus{
		  	color: #666;
			text-decoration: none;
		  }
		}
		.big-logo{
			@extend .logo;
		}
		.mobile{
			margin-bottom: 10px;
			&:hover{
				color: #666;
				cursor: pointer;
			}
		}
		.mail{
			font-size: inherit;
			color: #333;
			&:hover{
				font-size: inherit;
			}
		}
	}
	// socail media end
	// side nav
	.m5{
		  display: grid;
		  height: 100%;
		  grid-column: 5;
		  grid-template-rows: repeat(6,4fr);
		  justify-items: center;
		  align-items: center;
		  position: fixed;
		  right: 0;
		  padding: 0px;
		  z-index: 1000;
		  transition: 0.4s;
		   	&:hover{
		   		padding:3px;
		   		a{
		   			font-size: 15px;
		   		}
		   	}
		    a{
			  color: #555;
			  transition:0.1s;

			  &:hover,&:focus{
			  	color: #175dc7;
  				text-decoration: none;
			    }
			}
			.l1,.l2,.l3,.l4{
			  transform: rotate(90deg);
			}
		    .l1{
				grid-row: 2;
			}
			.l2{
			  grid-row: 3;
			}
			.l3{
			  grid-row: 4;
			}
			.l4{
			  grid-row: 5;
			}
		}
		// side nav end
	// landing section
	.landing-section{
		position:absolute;
		top: 0;
		bottom:0;
		left: 0;
		right: 0;
		height: 100vh;
		background:#fff;
		display: grid;
		grid-template-columns:2fr 1fr;
		align-items:center;
		justify-items:center;
		.desc{
			grid-column:1;
			padding-left:62px;
			p{
				font-size: 20px;
			}
			.work-btn{
				color: #fff;
				background:#175dc7;
				border-radius:25px;
				border:none;
				padding:10px 15px;
				outline: none;
				margin: 25px 0px;
				box-shadow:2px 2px 5px #777;
				transition:0.3s;
				&:hover{
					color: #fff;
					background:#175dc7;
					box-shadow:none;
					transform: translate(3px, 3px);
				}
			}
			.watermark{
				    position: absolute;
				    border-radius: 50%;
				    border: 1px solid rgba(16, 120, 183, 0.2);
				    padding: 30px 36px 35px;
				    right: -25px;
				    top: 20%;
				    font-size: 244px;
				    -webkit-text-stroke: 1px rgba(16, 120, 183, 0.2);
				    color: #fff;
			}
		}
	}
	//about content
	.about-content{
		display: grid;
		grid-template-columns: 1fr 12fr 5fr 1fr;
		justify-items:center;
		align-items: center;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		background:#fff;
		// mid content
		.mid-content-div{
		  grid-column: 2;
		  display: grid;
		  padding: 10px 0 15px;
		  display: grid;
		  grid-template-rows:1fr 6fr;

		    .m-r1{
			  grid-row: 1;
			  text-align: center;
			}
			.m-r2{
			  display: grid;
			  border: 1px solid;
			  grid-template-rows: 1fr 1fr;
			  padding-bottom: 15px;
			    .r1{
				  grid-row: 1;
				  display: grid;
				  grid-template-columns: 1fr 1fr;
				  .m2,.m3{
					  padding:0 20px;
					}
				  .m2{
					  grid-column: 1;
					  border-right: 1px dashed;
					}
					.m3{
					  grid-column: 2;
					}
					.about{
					  color: #111;
					  cursor: pointer;
					  color: #111;
					  font-size: 15px;
					  letter-spacing: 0.05em;
					  user-select: none;
					  label{
						  color: #111;
						}
					} 
				}
				.r2{
				  grid-row: 2;
				  display: grid;
				  grid-template-columns: 3fr 2fr 3fr;
				  justify-items: center;
				  	.r-l1 ul,.r-l3 ul{
						margin-top: 10px;
				  	}
				  	.r-l1 label,.r-l3 label{
						font-size: 15px;
				  	}
					 .pie{
						  height: 200px;
						  width: 200px;
						  border-radius: 50%;
						  position: relative;
						  border: 1px solid #333;
						  background:linear-gradient(90deg,#333 50%,#fff 0);
						  &::before{
							  content: "";
							  background:#333;
							  margin-left: 50%;
							  position: absolute;
							  border-radius: 0 100% 100% 0/50%;
							  transform: rotate(0deg);
							  transform-origin: left;
							  height: 200px;
							  width: 100px;
							  @include piechart;
							}
						}
					.design-ul{
						  text-align: right;
						}	
				}
			}
		}
		.m4{
		  grid-column: 3;
		}
		.display-pic{
		  text-align: center;
		  align-items: center;
		  margin-top: 70px;
		  img{
			  width: 300px;
			  border-radius: 250px;
			  border-radius: 50%;
			  border: 1px solid;
			  mix-blend-mode: normal;
			}
		} 
		
	} 
	
	.portfolio{
		display: grid;
		grid-template-rows:1fr 4fr;
		align-items: center;
		justify-items:center;
	    height: 100vh;
	    padding:0 50px;
	    .p-head{
	    	margin-top: 40px;
	    	width: 100%;
	    	grid-row:1;
	    	text-align: center;
	    }
	    .p-body{
	    	grid-row:2;
	    	display: grid;
	    	grid-template-columns:3fr 3fr 3fr;
	    	.p-1,.p-2,.p-3{
				margin: 10px;
				text-align: center;
				.pt-desc{
					color: #666;
					font-size: 13px;
				}
			}
			.p-1{
				grid-column:1/2;
			}
			.p-2{
				grid-column:2/3;
			}
			.p-3{
				grid-column:3;
			}
			img{
				width: 90%;
				border: 1px solid #ddd;
			}
			h5{
				color: #111;
			}
	  }
	}

}

// responsive 
$breakpoint-tablet: 768px;
@media (max-width:$breakpoint-tablet){
	.main{
		.header-logo{
			height: 60px;
			grid-template-columns: 1fr 9fr 3fr;
			.nav-btn{
				display: inline-block;
				float: right;
				line-height: 60px;
				margin-top: 23px;
				// margin-right: 20px;
				.nav-btn-lines{
					height: 3px;
					background: #777;
					width: 25px;
					border-radius: 25px;
					margin: 3px;
				}
			}
			.header-logo-ul{
				.logo{
					line-height: 60px!important;
					font-size: 25px!important;
				}
			}
		}
		
		.landing-section{
			grid-template-rows: 1fr;
			grid-template-columns: 1fr;
			.desc{
				padding:0px 10px;
				h1{
					font-size:26px;
				}
				p{
					font-size: 18px;
				}
			}
			.desc .watermark{
				z-index: -1;
				font-size: 170px;
				right: -30px;
			}
		}
		.m1{
			display:none;
		}
		.m5{
			display: none;
		} 
	} 
}
