@import url("https://fonts.googleapis.com/css?family=Nunito:900");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Uncial+Antiqua");
@-webkit-keyframes piechart {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
}

@keyframes piechart {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none !important;
}

.highlight {
  color: #175dc7 !important;
}

.active-link {
  color: #175dc7 !important;
}

.stroke-blue {
  -webkit-text-stroke: 1px #1078b7;
  color: transparent;
}

.stroke-white {
  -webkit-text-stroke: 1px #fff;
  color: #000;
}

.base-bg {
  background: #fafafa;
}

.index-1 {
  display: block;
  z-index: 1;
}

.index-0 {
  display: none;
  z-index: -1;
}

body {
  color: red;
  overflow: hidden;
}

body a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.main .header-logo {
  width: 100% !important;
  position: fixed;
  top: 0;
  height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 9fr 1fr;
      grid-template-columns: 1fr 9fr 1fr;
  z-index: 1000;
}

.main .header-logo .i1 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.main .header-logo .nav-btn {
  display: none;
}

.main .header-logo .header-logo-ul {
  margin: 0;
}

.main .header-logo .header-logo-ul li {
  display: inline-block;
  list-style: none;
}

.main .header-logo .header-logo-ul a:hover {
  color: #ccc;
  text-decoration: none;
}

.main .header-logo .header-logo-ul .logo, .main .header-logo .header-logo-ul .socialMax .big-logo, .main .socialMax .header-logo .header-logo-ul .big-logo {
  line-height: 40px !important;
  color: #666;
  font-size: 20px !important;
}

.main .m1 {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: (2fr)[9];
      grid-template-rows: repeat(9, 2fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 18px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 1000;
  width: 55px;
  left: 0;
}

.main .m1:hover {
  width: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .m1:hover a {
  font-size: 16px;
}

.main .m1 a {
  color: #555;
  font-size: 14px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .m1 a:hover, .main .m1 a:focus {
  color: #aaa;
  text-decoration: none;
}

.main .m1 .m-l1, .main .m1 .m-l2, .main .m1 .m-l3, .main .m1 .m-l4, .main .m1 .m-l5 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.main .m1 .m-l1 {
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main .m1 .m-l2 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main .m1 .m-l3 {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main .m1 .m-l4 {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main .m1 .m-l5 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main .m1 .contactM, .main .m1 .touch {
  display: none;
}

.main .m1 .close-contact {
  display: none;
}

.main .socialMax {
  width: 100%;
  -ms-grid-columns: (2fr)[9];
      grid-template-columns: repeat(9, 2fr);
}

.main .socialMax:hover {
  width: 100%;
}

.main .socialMax:hover a {
  font-size: 34px;
}

.main .socialMax:hover .mail {
  font-size: inherit;
}

.main .socialMax .m-l1, .main .socialMax .m-l2, .main .socialMax .m-l3, .main .socialMax .m-l4, .main .socialMax .m-l5 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.main .socialMax .m-l1 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 3;
  grid-column: 3;
}

.main .socialMax .m-l2 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 4;
  grid-column: 4;
}

.main .socialMax .m-l3 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 5;
  grid-column: 5;
}

.main .socialMax .m-l4 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 6;
  grid-column: 6;
}

.main .socialMax .m-l5 {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 7;
  grid-column: 7;
}

.main .socialMax .contactM, .main .socialMax .m1 .touch, .main .m1 .socialMax .touch {
  display: block;
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  text-align: center;
  font-size: 14px;
}

.main .socialMax .li-big-logo {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  /* background: #fff0; */
  border: 1px solid #222;
  padding: 0px 4px;
}

.main .socialMax .big-logo {
  color: #222;
  letter-spacing: 5px;
  line-height: 35px;
}

.main .socialMax .fadeInDown {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.main .socialMax .touch {
  display: block;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  text-align: center;
}

.main .socialMax a {
  color: #333;
  font-size: 34px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .socialMax a:hover, .main .socialMax a:focus {
  color: #666;
  text-decoration: none;
}

.main .socialMax .mobile {
  margin-bottom: 10px;
}

.main .socialMax .mobile:hover {
  color: #666;
  cursor: pointer;
}

.main .socialMax .mail {
  font-size: inherit;
  color: #333;
}

.main .socialMax .mail:hover {
  font-size: inherit;
}

.main .copyright {
  position: absolute;
  bottom: 30px;
  color: #999;
}

.main .m5 {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-rows: (4fr)[6];
      grid-template-rows: repeat(6, 4fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 0;
  padding: 0px;
  z-index: 1000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main .m5:hover {
  padding: 3px;
}

.main .m5:hover a {
  font-size: 15px;
}

.main .m5 a {
  color: #555;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .m5 a:hover, .main .m5 a:focus {
  color: #175dc7;
  text-decoration: none;
}

.main .m5 .l1, .main .m5 .l2, .main .m5 .l3, .main .m5 .l4 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main .m5 .l1 {
  -ms-grid-row: 2;
  grid-row: 2;
}

.main .m5 .l2 {
  -ms-grid-row: 3;
  grid-row: 3;
}

.main .m5 .l3 {
  -ms-grid-row: 4;
  grid-row: 4;
}

.main .m5 .l4 {
  -ms-grid-row: 5;
  grid-row: 5;
}

.main .landing-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.main .landing-section .desc {
  -ms-grid-column: 1;
  grid-column: 1;
  padding-left: 62px;
}

.main .landing-section .desc p {
  font-size: 20px;
}

.main .landing-section .desc .work-btn {
  color: #fff;
  background: #175dc7;
  border-radius: 25px;
  border: none;
  padding: 10px 15px;
  outline: none;
  margin: 25px 0px;
  -webkit-box-shadow: 2px 2px 5px #777;
          box-shadow: 2px 2px 5px #777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  cursor: pointer;
}

.main .landing-section .desc .work-btn:hover {
  color: #fff;
  background: #175dc7;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.main .landing-section .desc .watermark {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(16, 120, 183, 0.2);
  padding: 30px 36px 35px;
  right: -25px;
  top: 20%;
  font-size: 244px;
  -webkit-text-stroke: 1px rgba(16, 120, 183, 0.2);
  color: #fff;
  z-index: -1;
}

.main .about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12fr 5fr 1fr;
      grid-template-columns: 1fr 12fr 5fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.main .about-content .mid-content-div {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  padding: 10px 0 15px;
  display: grid;
  -ms-grid-rows: 1fr 6fr;
      grid-template-rows: 1fr 6fr;
}

.main .about-content .mid-content-div .m-r1 {
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
}

.main .about-content .mid-content-div .m-r2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding-bottom: 15px;
}

.main .about-content .mid-content-div .m-r2 .r1 {
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main .about-content .mid-content-div .m-r2 .r1 .m2, .main .about-content .mid-content-div .m-r2 .r1 .m3 {
  padding: 0 20px;
}

.main .about-content .mid-content-div .m-r2 .r1 .m2 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.main .about-content .mid-content-div .m-r2 .r1 .m3 {
  -ms-grid-column: 2;
  grid-column: 2;
}

.main .about-content .mid-content-div .m-r2 .r1 .about {
  color: #111;
  cursor: pointer;
  color: #111;
  font-size: 15px;
  letter-spacing: 0.05em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main .about-content .mid-content-div .m-r2 .r1 .about label {
  color: #111;
}

.main .about-content .mid-content-div .m-r2 .r2 {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 3fr;
      grid-template-columns: 3fr 2fr 3fr;
  justify-items: center;
}

.main .about-content .mid-content-div .m-r2 .r2 .r-l1 ul, .main .about-content .mid-content-div .m-r2 .r2 .r-l3 ul {
  margin-top: 10px;
}

.main .about-content .mid-content-div .m-r2 .r2 .r-l1 label, .main .about-content .mid-content-div .m-r2 .r2 .r-l3 label {
  font-size: 15px;
}

.main .about-content .mid-content-div .m-r2 .r2 .pie {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #333;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #333), color-stop(0, #fff));
  background: linear-gradient(90deg, #333 50%, #fff 0);
}

.main .about-content .mid-content-div .m-r2 .r2 .pie::before {
  content: "";
  background: #333;
  margin-left: 50%;
  position: absolute;
  border-radius: 0 100% 100% 0/50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  height: 200px;
  width: 100px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: piechart;
  animation-name: piechart;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.main .about-content .mid-content-div .m-r2 .r2 .design-ul {
  text-align: right;
}

.main .about-content .m4 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.main .about-content .display-pic {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.main .about-content .display-pic img {
  width: 300px;
  border-radius: 250px;
  border-radius: 50%;
  mix-blend-mode: normal;
}

.main .portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 100vh;
  padding: 0 50px;
  overflow: auto;
  overflow-x: hidden;
}

.main .portfolio .p-head {
  margin-top: 40px;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
}

.main .portfolio .p-body {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  padding: 35px 50px;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  grid-row: 1fr 1fr 1fr;
}

.main .portfolio .p-body .p-1, .main .portfolio .p-body .p-2, .main .portfolio .p-body .p-3, .main .portfolio .p-body .p-4, .main .portfolio .p-body .p-5, .main .portfolio .p-body .p-6, .main .portfolio .p-body .p-7, .main .portfolio .p-body .p-8, .main .portfolio .p-body .p-9 {
  margin: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 20px;
}

.main .portfolio .p-body .p-1 .pt-desc, .main .portfolio .p-body .p-2 .pt-desc, .main .portfolio .p-body .p-3 .pt-desc, .main .portfolio .p-body .p-4 .pt-desc, .main .portfolio .p-body .p-5 .pt-desc, .main .portfolio .p-body .p-6 .pt-desc, .main .portfolio .p-body .p-7 .pt-desc, .main .portfolio .p-body .p-8 .pt-desc, .main .portfolio .p-body .p-9 .pt-desc {
  color: #666;
  font-size: 13px;
}

.main .portfolio .p-body .p-1:hover img, .main .portfolio .p-body .p-2:hover img, .main .portfolio .p-body .p-3:hover img, .main .portfolio .p-body .p-4:hover img, .main .portfolio .p-body .p-5:hover img, .main .portfolio .p-body .p-6:hover img, .main .portfolio .p-body .p-7:hover img, .main .portfolio .p-body .p-8:hover img, .main .portfolio .p-body .p-9:hover img {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.main .portfolio .p-body .p-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main .portfolio .p-body .p-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.main .portfolio .p-body .p-3 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.main .portfolio .p-body .p-4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.main .portfolio .p-body .p-5 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.main .portfolio .p-body .p-6 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.main .portfolio .p-body .p-7 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.main .portfolio .p-body .p-8 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.main .portfolio .p-body img {
  width: 90%;
  border: 1px solid #ddd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 183px;
  background: #eee;
}

.main .portfolio .p-body h5 {
  color: #111;
}

.main .portfolio .github-link {
  font-size: 12px;
  margin-bottom: 20px;
}

.main .portfolio .github-link img {
  width: 70px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
  .main .header-logo {
    min-height: 60px;
    -ms-grid-columns: 1fr 9fr 2fr;
        grid-template-columns: 1fr 9fr 2fr;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main .header-logo .nav-btn {
    display: inline-block;
    float: right;
    line-height: 60px;
    margin-top: 23px;
  }
  .main .header-logo .nav-btn .nav-btn-lines {
    height: 3px;
    background: #777;
    width: 25px;
    border-radius: 25px;
    margin: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main .header-logo .nav-btn .nav-btn-lines-rt1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0px;
    top: 25px;
    right: 32px;
    position: absolute;
  }
  .main .header-logo .nav-btn .nav-btn-lines-rt2 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0;
    top: 25px;
    right: 32px;
    position: absolute;
  }
  .main .header-logo .header-logo-ul .logo, .main .header-logo .header-logo-ul .socialMax .big-logo, .main .socialMax .header-logo .header-logo-ul .big-logo {
    line-height: 60px !important;
    font-size: 25px !important;
  }
  .main .header-logo-max {
    min-height: 100vh;
    background: #333;
  }
  .main .header-logo-max .header-logo-ul .logo, .main .header-logo-max .header-logo-ul .socialMax .big-logo, .main .socialMax .header-logo-max .header-logo-ul .big-logo {
    color: #ccc;
  }
  .main .landing-section {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow-x: hidden;
  }
  .main .landing-section .desc {
    padding: 0px 10px;
  }
  .main .landing-section .desc p {
    font-size: 18px;
  }
  .main .landing-section .desc .work-btn {
    cursor: pointer;
  }
  .main .landing-section .desc .watermark {
    z-index: -1;
    font-size: 170px;
    right: -30px;
    top: 25%;
  }
  .main .about-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 3fr 4fr;
        grid-template-rows: 1fr 3fr 4fr;
    margin-top: 55px;
  }
  .main .about-content .mid-content-div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .main .about-content .mid-content-div h1 {
    font-size: 30px;
  }
  .main .about-content .mid-content-div .h2, .main .about-content .mid-content-div h2 {
    font-size: 25px;
  }
  .main .about-content .mid-content-div .m-r1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .main .about-content .mid-content-div .m-r2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-top: 10px;
  }
  .main .about-content .mid-content-div .m-r2 .r1 .m2, .main .about-content .mid-content-div .m-r2 .r1 .m3 {
    padding: 0 15px;
  }
  .main .about-content .mid-content-div .m-r2 .r2 .r-l2 .pie {
    width: 150px;
    height: 150px;
  }
  .main .about-content .mid-content-div .m-r2 .r2 .r-l2 .pie::before {
    height: 150px;
    width: 75px;
  }
  .main .about-content .mid-content-div .m-r2 .r2 .r-l1, .main .about-content .mid-content-div .m-r2 .r2 .r-l3 {
    padding: 14px;
  }
  .main .about-content .mid-content-div .m-r2 .r2 .r-l1 label, .main .about-content .mid-content-div .m-r2 .r2 .r-l3 label {
    display: none;
  }
  .main .about-content .m4 {
    -ms-grid-column: 1;
    grid-column: 1;
    display: none;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .main .portfolio {
    margin-top: 25px;
    padding: 0 10px;
    overflow-x: hidden;
    height: 95vh;
  }
  .main .portfolio .p-body {
    display: block;
  }
  .main .portfolio .p-body > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .main .portfolio .p-body .p-1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .main .portfolio .p-body .p-2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .main .portfolio .p-body .p-3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .main .portfolio .p-body img {
    width: 100%;
  }
  .main .m5 {
    display: none;
  }
  .main .m5-max {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    width: 100%;
    margin-top: 60px;
    background: transparent;
  }
  .main .m5-max .l1, .main .m5-max .l2, .main .m5-max .l3, .main .m5-max .l4 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .main .m5-max .l1 a, .main .m5-max .l2 a, .main .m5-max .l3 a, .main .m5-max .l4 a {
    color: #ccc;
    font-size: 18px;
  }
  .main .m5-max .l1 {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .main .m5-max .l2 {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .main .m5-max .l3 {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .main .m5-max .l4 {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .main .m1 {
    display: none;
  }
  .main .socialMax {
    display: -ms-grid;
    display: grid;
    top: 0;
  }
  .main .socialMax:hover a {
    font-size: 20px;
  }
  .main .socialMax .close-contact {
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .main .socialMax a {
    font-size: 20px;
  }
  .main .socialMax a:hover, .main .socialMax a:focus {
    font-size: 20px;
  }
  .main .socialMax .touch {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
  }
}
/*# sourceMappingURL=style.css.map */